<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <button mat-flat-button color="accent" [routerLink]="['/jogos']"><mat-icon>list</mat-icon> Voltar</button>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{jogo.titulo}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Plataformas :</dt>
          <dd>{{jogo.plataformas}}</dd>
        </dl>
        <dl>
          <dt>Ano :</dt>
          <dd>{{jogo.ano}}</dd>
        </dl>
        <dl>
          <dt>Preço :</dt>
          <dd>{{jogo.preco}}</dd>
        </dl>
        <dl>
          <dt>Imagem :</dt>
          <dd>{{jogo.imagemUrl}}</dd>
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="teste" [routerLink]="['/jogo-editar', jogo.jogoId]"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-flat-button color="warn" (click)="deleteJogo(jogo.jogoId)"><mat-icon>delete</mat-icon> Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
  